<!DOCTYPE html>
<html lang="en">
<head>
	<title>ChimeraOS</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="style.css" rel="stylesheet">
</head>
<body>

<nav id="hamnav">
	<label for="hamburger">&#9776;</label>
	<input type="checkbox" id="hamburger"/>

	<div id="hamitems">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/download">Download</a>
		<a href="/games">Games</a>
		<a href="/contribute">Contribute</a>
		<a href="/faq">FAQ</a>
	</div>
</nav>

<br>

<div class="social">
	<a aria-label="Twitter" href="https://twitter.com/ChimeraOS_Linux"><i class="ri-twitter-fill"></i></a>
	<a aria-label="Steam" href="https://steamcommunity.com/groups/chimeraos"><i class="ri-steam-fill"></i></a>
	<a aria-label="Discord" href="https://discord.gg/fKsUbrt"><i class="ri-discord-fill"></i></a>
	<a aria-label="GitHub" href="https://github.com/chimeraos"><i class="ri-github-fill"></i></a>
	<a aria-label="Patreon" href="https://patreon.com/alkazar"><i class="ri-patreon-fill"></i></a>
</div>
