{{> header}}

<h2>What is it?</h2>

<div class="content">
  <p>
  ChimeraOS is an operating system that provides an out of the box couch gaming experience. After installation, boot directly into Steam Big Picture and start playing your favorite games.
  </p>
  
  <p>If you want Steam in your living room, you want ChimeraOS.</p>
</div>

<h2>Features</h2>

<div class="content">
  <h4>easy to install</h4>
  <p>boot into your new gaming system within minutes</p>
  
  <h4>minimal</h4>
  <p>only what you need to play games and nothing more</p>
  
  <h4>out of the box</h4>
  <p>start playing right away with zero configuration for <a href="games.html">supported games</a></p>
  
  <h4>always up to date</h4>
  <p>regular updates delivering the latest drivers and software</p>
  
  <h4>zero downtime updates</h4>
  <p>fully automatic updates that run in the background without disrupting gameplay</p>
  
  <h4>controller first</h4>
  <p>fully controller compatible interface</p>
  
  <h4>use any controller</h4>
  <p>support for Xbox, PlayStation, Steam controllers and more</p>
  
  <h4>play any game</h4>
  <p>support for Steam, Epic Games Store, GOG, and dozens of console platforms</p>
</div>


<h2>Screenshots</h2>

<img src="screenshots/01.png" width="800" />
<img src="screenshots/02.png" width="800" />
<img src="screenshots/03.png" width="800" />
<img src="screenshots/04.png" width="800" />


{{> footer}}
