{{> header}}
<div class="content">
<p>
Help us make the dream of the ultimate PC console experience come true!
</p>
<p>Here are some ways you can help:</p>
<ul>
	<li>Test and report game compatibility to our <a href="https://discord.gg/fKsUbrt">Discord</a> server</li>
	<li>Answer questions and help others on <a href="https://discord.gg/fKsUbrt">Discord</a> or <a href="https://github.com/chimeraos">GitHub</a></li>
	<li>Report issues in <a href="https://github.com/chimeraos">GitHub</a></li>
	<li>Fix reported issues in <a href="https://github.com/chimeraos">GitHub</a></li>
	<li>Implement a feature you are interested in</li>
	<li><a href="https://www.humblebundle.com/?partner=chimera">Purchase games with our affiliate links</a></li>
	<li><a href="https://www.patreon.com/alkazar">Become a Patron on Patreon</a></li>
</ul>
</div>


<h4>Thank you to all our contributors!</h4>
<p>
<!-- Discord -->
DaedalusHyperboreus<br>
SuperBoby<br>
kourm<br>
wouter<br>
Solidus<br>
airspeedmph<br>
T1g3rs65<br>
ShadowApex<br>
Panos<br>
TheCraiggers<br>
horriblejohnny<br>
Samsagax<br>
ICanFly<br>
Daddeltrotter<br>
j0rge<br>
qchto<br>
<!-- GitHub -->
tommy4st<br>
eyecreate<br>
rshamsnejad<br>
moonwolf<br>
brain-anti-freeze<br>
pierrep<br>
maweki<br>
lennyhans<br>
<!-- Patreon -->
</p>

{{> footer}}
