{{> header}}

<div class="content">

<a href="#what-is-chimeraos">
	<h4>What is ChimeraOS?</h4>
</a>
<a href="#what-is-chimera-app">
	<h4>What is the Chimera app?</h4>
</a>
<a href="#chimera-emu-platforms">
	<h4>What emulated console platforms does the Chimera app support?</h4>
</a>
<a href="#chimera-store-platforms">
	<h4>What third party stores does the Chimera app support?</h4>
</a>
<a href="#chimera-other-stores">
	<h4>Why doesn't ChimeraOS/Chimera support Battle.net/Uplay/Origin?</h4>
</a>
<a href="#non-steam-games">
	<h4>How do I install non-Steam games?</h4>
</a>
<a href="#games-added-through-chimera">
	<h4>Why don't games added through the Chimera app show up in Steam?</h4>
</a>
<a href="#desktop-access">
	<h4>How can I access the desktop?</h4>
</a>
<a href="#can-dual-boot">
	<h4>Can I dual boot ChimeraOS with another operating system?</h4>
</a>
<a href="#why-no-dual-boot">
	<h4>Why can't I dual boot ChimeraOS with another OS on the same disk?</h4>
</a>
<a href="#secondary-storage">
	<h4>Can I use a secondary disk to store my games?</h4>
</a>
<a href="#games-not-available">
	<h4>Why are some games not available to install?</h4>
</a>
<a href="#system-updates">
	<h4>How can I update my ChimeraOS system?</h4>
</a>
<a href="#desktop-applications">
	<h4>How can I install and use desktop applications such as Discord?</h4>
</a>

<br>
<br>
<hr>
<br>
<br>










<a id="what-is-chimeraos" href="#what-is-chimeraos">
	<h4>What is ChimeraOS?</h4>
</a>
<p>
	ChimeraOS is a Linux-based PC operating system designed for a game console experience.
</p>
<p>
	It runs Steam Big Picture Mode, allowing you to play most of your Steam library, but also allows you to install and play many non-Steam games through the built-in Chimera web app.
</p>
<hr>





<a id="what-is-chimera-app" href="#what-is-chimera-app">
	<h4>What is the Chimera app?</h4>
</a>
<p>
	The Chimera web app allows you to install and manage non-Steam games, including your ROM collection and games from some third party stores.
</p>
<p>
	It also functions as a handy remote control for your ChimeraOS box when used from your phone.
</p>
<hr>





<a id="chimera-emu-platforms" href="#chimera-emu-platforms">
	<h4>What emulated console platforms does the Chimera app support?</h4>
</a>
<ul>
	<li>3DO</li>
	<li>Arcade</li>
	<li>Atari 2600</li>
	<li>Dreamcast</li>
	<li>Game Boy</li>
	<li>Game Boy Advance</li>
	<li>Game Boy Color</li>
	<li>Game Gear</li>
	<li>GameCube</li>
	<li>Genesis/Mega Drive</li>
	<li>Jaguar</li>
	<li>Master System</li>
	<li>Neo Geo</li>
	<li>Nintendo</li>
	<li>Nintendo 64</li>
	<li>PlayStation</li>
	<li>PlayStation 2</li>
	<li>PlayStation Portable</li>
	<li>Sega 32X</li>
	<li>Sega/Mega CD</li>
	<li>Saturn</li>
	<li>Super Nintendo</li>
	<li>TurboGrafx-16</li>
</ul>
<hr>





<a id="chimera-store-platforms" href="#chimera-store-platforms">
	<h4>What third party stores does the Chimera app support?</h4>
</a>
<ul>
	<li>Epic Games Store</li>
	<li>Flathub</li>
	<li>GOG</li>
</ul>
<hr>





<a id="chimera-other-stores" href="#chimera-other-stores">
	<h4>Why doesn't ChimeraOS/Chimera support Battle.net/Uplay/Origin?</h4>
</a>
<p>
	These stores are not compatible with a game console experience and are thus not supported and likely never will be.
</p>
<p>
	Only stores that allow running and installing games without having to use desktop client software can be used with ChimeraOS/Chimera.
</p>
<hr>





<a id="non-steam-games" href="#non-steam-games">
	<h4>How do I install non-Steam games?</h4>
</a>
<p>
	Non-Steam games can be installed using the Chimera app.
</p>
<p>
	The app can be accessed from a web browser on another device by navigating to <code>chimeraos.local</code> or the IP address of your ChimeraOS machine.
</p>
<p>
	You can obtain the IP address of your ChimeraOS machine by navigating to <code>Settings->Network</code> in the Steam Big Picture interface.
</p>
<hr>





<a id="games-added-through-chimera" href="#games-added-through-chimera">
	<h4>Why don't games added through the Chimera app show up in Steam?</h4>
</a>
<p>
	Steam must be restarted to pick up the new games. You can do that through the <code>Actions</code> page in the Chimera app or by restarting the computer.
</p>
<hr>





<a id="desktop-access" href="#desktop-access">
	<h4>How can I access the desktop?</h4>
</a>
<p>
	ChimeraOS is meant to replicate a game console experience and therefore does not have a desktop.
</p>
<p>
	This means ChimeraOS takes up very little disk space, leaving more room for the important things: games.
</p>
<hr>





<a id="can-dual-boot" href="#can-dual-boot">
	<h4>Can I dual boot ChimeraOS with another operating system?</h4>
</a>
<p>
	Yes, but only if you have two separate disks. ChimeraOS requires its own disk.
</p>
<hr>





<a id="why-no-dual-boot" href="#why-no-dual-boot">
	<h4>Why can't I dual boot ChimeraOS with another OS on the same disk?</h4>
</a>
<p>
	There are two reasons for this:
	<ol>
		<li>to keep the installation process simple</li>
		<li>to allow for instant, full system updates without the possibility of interfering with another OS</li>
	</ol>
</p>
<hr>





<a id="secondary-storage" href="#secondary-storage">
	<h4>Can I use a secondary disk to store my games?</h4>
</a>
<p>
	Out of the box, ChimeraOS can currently only work with a single disk. However, if you are an advanced Linux user, it is possible to configure a multi-disk setup manually.
</p>
<hr>





<a id="games-not-available" href="#games-not-available">
	<h4>Why are some games not available to install?</h4>
</a>
<p>
	Most games on Steam are Windows games and ChimeraOS is based on Linux. A compatibility layer called Steam Play/Proton is used to enable playing Windows games on ChimeraOS.
</p>
<p>
	Not all Windows games are enabled out of the box with Steam Play. This is either because these games have not been tested or because they do not work with ChimeraOS.
</p>
<p>
	You can enable Steam Play for a game as follows:
	<ol>
		<li>Navigate to the game you want to enable and select it</li>
		<li>Select <code>Manage Game->Set Steam Play Options...</code></li>
		<li>Check <code>Force the use of a specific Steam Play compatibility tool</code></li>
		<li>From the drop-down that appears, select the version of Proton you would like to use</li>
	</ol>
</p>
<p>
	If you find a game that works with Steam Play after enabling it manually, please report it to the <code>#compatibility-reports</code> channel on the <a href="https://discord.gg/fKsUbrt">ChimeraOS Discord</a> so we can enable it for everyone.
</p>
<p>
	Make sure to include the game name and the version of Steam Play/Proton that was used for testing.
</p>
<p>
	With your help we can make ChimeraOS a better experience for all!
</p>
<hr>





<a id="system-updates" href="#system-updates">
	<h4>How can I update my ChimeraOS system?</h4>
</a>
<p>
	System updates are downloaded in the background automatically. A system notification will appear when an update has completed downloading. You can restart your system at any time to apply the update.
</p>
<p>
	Note that there is no waiting on an update process. Updates are applied instantly upon reboot.
</p>
<hr>





<a id="desktop-applications" href="#desktop-applications">
	<h4>How can I install and use desktop applications such as Discord?</h4>
</a>
<p>
	While you can technically install Discord and other applications, ChimeraOS does not support multi-tasking nor does it support the use of desktop software. It provides an environment optimized specifically for running games.
</p>
<p>
	The recommended way to use Discord is through the phone app.
</p>

</div>

{{> footer}}
