{{> header}}

<div class="content">

<a href="#what-is-chimeraos">
	<h4>What is ChimeraOS?</h4>
</a>
<a href="#is-chimeraos-arch">
	<h4>Is ChimeraOS based on Arch Linux?</h4>
</a>
<a href="#is-chimeraos-for-me">
	<h4>Is ChimeraOS for me?</h4>
</a>
<a href="#what-is-chimera-app">
	<h4>What is the Chimera app?</h4>
</a>
<a href="#chimera-access">
	<h4>How can I access the Chimera app?</h4>
</a>
<a href="#chimera-emu-platforms">
	<h4>What emulated console platforms does the Chimera app support?</h4>
</a>
<a href="#chimera-store-platforms">
	<h4>What third party stores does the Chimera app support?</h4>
</a>
<a href="#chimera-other-stores">
	<h4>Why doesn't ChimeraOS/Chimera support Origin/Battle.net/Ubisoft Connect?</h4>
</a>
<a href="#non-steam-games">
	<h4>How do I install non-Steam games?</h4>
</a>
<a href="#games-added-through-chimera">
	<h4>Why don't games added through the Chimera app show up in Steam?</h4>
</a>
<a href="#desktop-access">
	<h4>How can I access the desktop?</h4>
</a>
<a href="#can-dual-boot">
	<h4>Can I dual boot ChimeraOS with another operating system?</h4>
</a>
<a href="#why-no-dual-boot">
	<h4>Why can't I dual boot ChimeraOS with another OS on the same disk?</h4>
</a>
<a href="#secondary-storage">
	<h4>Can I use a secondary disk to store my games?</h4>
</a>
<a href="#steam-library">
	<h4>How can I add Steam library folders?</h4>
</a>
<a href="#system-updates">
	<h4>How can I update my ChimeraOS system?</h4>
</a>
<a href="#desktop-applications">
	<h4>How can I install and use desktop applications such as Discord?</h4>
</a>

<br>
<br>
<hr>
<br>
<br>










<a id="what-is-chimeraos" href="#what-is-chimeraos">
	<h4>What is ChimeraOS?</h4>
</a>
<p>
	ChimeraOS is a Linux-based PC operating system designed for a game console experience.
</p>
<p>
	It runs Steam Big Picture Mode, allowing you to play most of your Steam library, but also allows you to install and play many non-Steam games through the built-in Chimera web app.
</p>
<hr>





<a id="is-chimeraos-arch" href="#is-chimeraos-arch">
	<h4>Is ChimeraOS based on Arch Linux?</h4>
</a>
<p>
	Yes, ChimeraOS is based on Arch Linux. However, ChimeraOS has a <a href="https://github.com/ChimeraOS/frzr">unique install and update mechanism</a> and does not make use of Arch Linux's native package manager pacman.
</p>
<p>
	In fact, ChimeraOS does not deal with packages at all. Instead, the entire system is provided as a single downloadable file that is extracted to disk as a read-only volume upon each update.
</p>

<p>
	This allows safe, automatic, zero downtime updates that require no human interaction.
</p>
<hr>





<a id="is-chimeraos-for-me" href="#is-chimeraos-for-me">
	<h4>Is ChimeraOS for me?</h4>
</a>
<p>
	The main goal of ChimeraOS is to provide an out of the box console gaming experience that is usable by anyone, even those with no Linux experience.
</p>

<p>
	ChimeraOS is for you if:
	<ul>
		<li>you want a zero maintenance console gaming experience on PC hardware</li>
		<li>you are willing to sacrifice some game compatibility and customizability</li>
	</ul>
</p>
<hr>





<a id="what-is-chimera-app" href="#what-is-chimera-app">
	<h4>What is the Chimera app?</h4>
</a>
<p>
	The Chimera web app allows you to install and manage non-Steam games, including your ROM collection and games from some third party stores.
</p>
<p>
	It also functions as a handy remote control for your ChimeraOS box when used from your phone.
</p>
<hr>





<a id="chimera-access" href="#chimera-access">
	<h4>How can I access the Chimera app?</h4>
</a>
<p>
	The Chimera app can be accessed from a web browser on another device by navigating to <code>chimeraos.local</code> or the IP address of your ChimeraOS machine.
</p>
<p>
	You can obtain the IP address of your ChimeraOS machine by navigating to <code>Settings->Network</code> in the Steam Big Picture interface.
</p>
<hr>





<a id="chimera-emu-platforms" href="#chimera-emu-platforms">
	<h4>What emulated console platforms does the Chimera app support?</h4>
</a>
<ul>
	<li>32X *</li>
	<li>3DO *</li>
	<li>Arcade</li>
	<li>Atari 2600</li>
	<li>Dreamcast</li>
	<li>Game Boy</li>
	<li>Game Boy Advance</li>
	<li>Game Boy Color</li>
	<li>GameCube</li>
	<li>Game Gear</li>
	<li>Genesis/Mega Drive</li>
	<li>Jaguar</li>
	<li>Master System</li>
	<li>Neo Geo *</li>
	<li>Nintendo</li>
	<li>Nintendo 64</li>
	<li>PlayStation *</li>
	<li>PlayStation 2</li>
	<li>PlayStation Portable</li>
	<li>Saturn *</li>
	<li>Sega/Mega CD *</li>
	<li>Super Nintendo</li>
	<li>TurboGrafx-16/PC Engine</li>
</ul>

<p>* requires BIOS file to function</p>
<hr>





<a id="chimera-store-platforms" href="#chimera-store-platforms">
	<h4>What third party stores does the Chimera app support?</h4>
</a>
<ul>
	<li>Epic Games Store</li>
	<li>Flathub</li>
	<li>GOG</li>
</ul>
<hr>





<a id="chimera-other-stores" href="#chimera-other-stores">
	<h4>Why doesn't ChimeraOS/Chimera support Origin/Battle.net/Ubisoft Connect?</h4>
</a>
<p>
	These stores are not compatible with a game console experience and are thus not supported and likely never will be.
</p>
<p>
	Only stores that allow running and installing games without having to use desktop client software can be used with ChimeraOS/Chimera.
</p>
<hr>





<a id="non-steam-games" href="#non-steam-games">
	<h4>How do I install non-Steam games?</h4>
</a>
<p>
	Non-Steam games can be installed from the Library page of the Chimera app.
</p>
<hr>





<a id="games-added-through-chimera" href="#games-added-through-chimera">
	<h4>Why don't games added through the Chimera app show up in Steam?</h4>
</a>
<p>
	Steam must be restarted to pick up the new games. You can do that through the <code>Actions</code> page in the Chimera app or by restarting the computer.
</p>
<hr>





<a id="desktop-access" href="#desktop-access">
	<h4>How can I access the desktop?</h4>
</a>
<p>
	ChimeraOS is meant to replicate a game console experience and therefore does not have a desktop.
</p>
<hr>





<a id="can-dual-boot" href="#can-dual-boot">
	<h4>Can I dual boot ChimeraOS with another operating system?</h4>
</a>
<p>
	Yes, but only if you have two separate disks. ChimeraOS requires its own disk.
</p>
<hr>





<a id="why-no-dual-boot" href="#why-no-dual-boot">
	<h4>Why can't I dual boot ChimeraOS with another OS on the same disk?</h4>
</a>
<p>
	There are two reasons for this:
	<ol>
		<li>to keep the installation process simple</li>
		<li>to allow for instant, full system updates without the possibility of interfering with another OS</li>
	</ol>
</p>
<hr>





<a id="secondary-storage" href="#secondary-storage">
	<h4>Can I use a secondary disk to store my games?</h4>
</a>
<p>
	Out of the box, ChimeraOS can currently only work with a single disk. However, if you are an advanced Linux user, it is possible to configure a multi-disk setup manually.
</p>
<hr>





<a id="steam-library" href="#steam-library">
	<h4>How can I add Steam library folders?</h4>
</a>
<p>
	Steam Big Picture does not support adding Steam library folders. This feature is expected to become available with the Steam Deck/Gamepad UI which was announced to be replacing Steam Big Picture.
</p>
<hr>





<a id="system-updates" href="#system-updates">
	<h4>How can I update my ChimeraOS system?</h4>
</a>
<p>
	System updates are automatically downloaded in the background. A system notification will appear when an update has completed downloading. You can restart your system at any time to apply the update.
</p>
<hr>





<a id="desktop-applications" href="#desktop-applications">
	<h4>How can I install and use desktop applications such as Discord?</h4>
</a>
<p>
	While you can technically install Discord and other similar software, ChimeraOS does not support running more than one app or game at a time nor does it support the use of desktop applications. ChimeraOS is specifically designed and optimized for running games in a console-like environment.
</p>


</div>

{{> footer}}
