:root {
  --color_background:   #230512;
  --color_header:       #d74c22;
  --color_link:         #ffda94;
  --color_link_hover:   #d74c22;
  --color_menu:         #961937;
  --color_button_hover: #5d1c27;
  --color_text:         white;
}



body {
	background-color: var(--color_background);
	color: var(--color_text);
	text-align: center;
	font-family: helvetica;
	font-size: 34px;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
i {
	font-size: 48px;
	margin: 10px;
}
h2 {
	color: var(--color_header);
}
h4 {
	color: var(--color_header);
}
a {
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color: var(--color_link);
}

a:visited {
	text-decoration: none;
	color: var(--color_link);
}

a:hover {
	text-decoration: none;
	color: var(--color_link_hover);
}

a:active {
	text-decoration: none;
}

.nav {
	background-color: var(--color_menu);
	margin: 0;
	padding: 20px;
}
.nav a {
	padding: 20px;
}
.button {
	background-color: var(--color_menu);
	border-radius: 12px;
	padding: 20px;
	margin: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
	border-style: solid;
	border-width: 4px;
	border-color: var(--color_link);
}

a:hover .button {
	background-color: var(--color_button_hover);
	border-width: 2px;
	border-color: var(--color_text);*/
	border-color: var(--color_link_hover);
}

.callout {
	background-image: linear-gradient(var(--color_menu), var(--color_link_hover));
	border-width: 2px;
	border-color: var(--color_text);
	width: 400px;
	height: 200px;
	padding: 10px;
	padding-bottom: 30px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	border-radius: 12px;
	display: inline-block;
}
.content {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}
.content-alt {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}
