{{> header}}

<div class="content-alt">
  <a id="downloadLink" href="#" download>
    <div class="button">
      <i class="ri-download-fill"></i>Download
    </div>
  </a>
</div>

<h2>System Requirements</h2>
<div class="content">
  <ul>
    <li><strong>RAM:</strong> 8+ GB.</li>
    <li><strong>Storage Device:</strong> 64+ GB.</li>
    <li><strong>Graphics:</strong> AMD Radeon RX 400 series or newer.</li>
  </ul>
</div>

<h2>Prerequisites</h2>
<div class="content">
  <ul>
    <li>A keyboard is required to start installer.</li>
    <li>Secure boot must be disabled.</li>
    <li><strong>Intel RST (Rapid Storage Technology)</strong> must be disabled.</li>
  </ul>
</div>

<h2>System Limitations</h2>
<div class="content">
  <ul>
    <li><strong>Nvidia</strong> and <strong>Intel</strong> GPUs are not supported.</li>
    <li>Single connected TV or monitor.</li>
    <li>Hybrid graphics are not supported.</li>
    <li>Virtual machines are not supported.</li>
    <li>Dual booting from the same disk not supported.</li>
    <li>Legacy/bios not supported.</li>
  </ul>
</div>

<h2>Installation</h2>
<div class="content">
  <ul>
    <li>Procure the installer via the download link above.</li>
    <li>Flash the installer to a removable media stick</li>
    <li>N.B.: Use <a href="https://www.balena.io/etcher">etcher</a> to flash.</li>
    <li>Connect a keyboard.</li>
    <li>Boot from the removable media.</li>
    <li>Follow the installer directions.</li>
  </ul>
</div>

<div class="content-alt">
  <a id="downloadLink" href="#" download>
    <div class="button">
      <i class="ri-download-fill"></i>Download
    </div>
  </a>
</div>

{{> footer}}
